# Ignore virtual environment
venv/
env/
__pycache__/

# Ignore datasets
*.csv
*.tsv
*.xlsx
*.json
*.parquet

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large model files or temporary output
*.h5
*.pkl
*.tar.gz
